body{

    background-color: $white;
    font-family: 'Nunito', sans-serif;
    color: $grey;

    .cocktailsImages{

        display: flex;
        max-width: 1145px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        div{

            position: relative;

            p{

                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                align-items: center;
                margin-top: 35px;

                font-size: 25px;
                color: $white;
                font-weight: 700;

                opacity: 0;

            }



            img{

                height: 260px;
                width: 260px;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 35px;

            }

        }

        div:hover{



            img{

                filter: brightness(50%);

                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                -ms-transition: all 300ms ease-out;
                transition: all 300ms ease-out;

            }

            p{

                opacity: 1;
                z-index: 1;

                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                -ms-transition: all 300ms ease-out;
                transition: all 300ms ease-out;

            }


        }

    }

}

