/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #e96170;
}

body {
  background-color: #FFF9E4;
  font-family: "Nunito", sans-serif;
}
body .cocktailsImages {
  display: flex;
  max-width: 1145px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
body .cocktailsImages div {
  position: relative;
}
body .cocktailsImages div p {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  margin-top: 35px;
  font-size: 25px;
  color: #FFF9E4;
  font-weight: 700;
  opacity: 0;
}
body .cocktailsImages div img {
  height: 260px;
  width: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 35px;
}
body .cocktailsImages div:hover img {
  filter: brightness(50%);
  transition: all 300ms ease-out;
}
body .cocktailsImages div:hover p {
  opacity: 1;
  z-index: 1;
  transition: all 300ms ease-out;
}

.cocktail {
  max-width: 1145px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.cocktail img {
  width: 407px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 35px;
}
.cocktail .right {
  max-width: 703px;
}
.cocktail .right h2 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 700;
}
.cocktail .right h3 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 700;
}
.cocktail .right .cocktailIngredients {
  margin-bottom: 25px;
}
.cocktail .right .cocktailIngredients ul li {
  line-height: 40px;
  margin-left: 40px;
}
footer {
  background-color: #e088e9;
}
